body{
    margin: 0;
    padding: 0;
}
.top{
    width: 640px; height: 100px;
    background-image: linear-gradient(#000b3a, #008888);
}
.title{
    color: white;
    font-family:'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    right: 250px;
;

}
#titletext{
    font-size: 30px;
}
.searchbar {
    width: 450px;
    height: 50px;
    background-color: #008888;
    position: relative;
    left: 170px;
    bottom: 10px;

}
.Phones{
    display: flex;
    align-items: center;
    width: 640px; height: 720px;
    background-color: #000b3a;
    flex-wrap: wrap;
    justify-content: space-between;
   

    
    
}

.SGs21U{width: 150; height: 150px;
    position: relative;
    

}
.IP13PM{width: 180; height: 180px;
    position: relative;
    left: 10px;

}
.IP13PM{width: 180; height: 180px;

}
.OP9P{width: 180; height: 180px;

}
.SGs21{width: 180; height: 180px;

}
.Ip13{width: 180; height: 180px;

}
.XM11{width: 200; height: 200px;

}
.SGs21plus{width: 180; height: 180px;
}
.GP6P{width: 180; height: 180px;

}
.OFX3P{width: 180; height: 180px;

}
.box1{
    width: 180px; height: 180px;
    background-color: #00125e;
    position: relative;
    left: 20px;
    justify-content: center;
}





















